*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.board {
  --board-size: 3;
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  gap: 10px; }
  .board__cell {
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer; }
    .board__cell--o, .board__cell--x {
      cursor: not-allowed; }

.board__cell--o::before {
  background-color: #00be00; }

.board--move-o > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::before {
  background-color: #beffbe; }

.board__cell--o::before,
.board__cell--o::after,
.board--move-o > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::before,
.board--move-o > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::after {
  content: '';
  border-radius: 50%;
  position: absolute; }

.board__cell--o::before,
.board--move-o > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::before {
  width: calc(100px * .85);
  height: calc(100px * .85); }

.board__cell--o::after,
.board--move-o > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::after {
  width: calc(calc(100px * .85) - 2 * calc(calc(100px * .85) * .15));
  height: calc(calc(100px * .85) - 2 * calc(calc(100px * .85) * .15));
  background-color: white; }

.board__cell--x::before,
.board__cell--x::after {
  background-color: #0000be; }

.board--move-x > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::before,
.board--move-x > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::after {
  background-color: #bebeff; }

.board__cell--x::before,
.board__cell--x::after,
.board--move-x > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::before,
.board--move-x > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::after {
  content: '';
  width: calc(calc(100px * .85) * .15);
  height: calc(100px * .85);
  position: absolute; }

.board__cell--x::before,
.board--move-x > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::before {
  transform: rotate(45deg); }

.board__cell--x::after,
.board--move-x > .board__cell:not(.board__cell--x):not(.board__cell--o):hover::after {
  transform: rotate(-45deg); }

.footer__link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }
  .footer__link:hover {
    color: white; }

.winning-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .winning-message--win-o {
    background-color: rgba(0, 190, 0, 0.9); }
  .winning-message--win-x {
    background-color: rgba(0, 0, 190, 0.9); }
  .winning-message--draw {
    background-color: rgba(145, 145, 145, 0.9); }
  .winning-message__button {
    font-size: 3rem;
    background-color: white;
    border-radius: 3px;
    padding: .25em .5em;
    cursor: pointer; }
    .winning-message__button:hover {
      background-color: #919191;
      color: white;
      border-color: white; }
  .winning-message__text {
    font-size: 5rem;
    margin-bottom: 40px; }

.hide {
  display: none; }
